body {
    font-family: 'Monaco', 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    color: #000;
    line-height: 1.6;
}

header {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #000;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    margin-bottom: 10px;
}

section {
    padding: 20px 10%;
    border-bottom: 1px solid #000;
}

footer {
    background-color: #FFF;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #000;
}
